@using egregore.Extensions
<h1>Meta</h1>
<ul>
    <li>
        <a href="https://securityheaders.io/?q=@Url.BaseUrl()&amp;hide=on&amp;followRedirects=on">Security scan</a>
    </li>
    <li>
        <a href="https://html5.validator.nu/?doc=@Url.BaseUrl()">W3C HTML 5 validation</a>
    </li>
</ul>