@page "/"
@using System.Text

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="AddSchema">Add Schema</button>

@code {

    [Inject]
    public HttpClient Http { get; set; }

    private async Task AddSchema()
    {
        await Http.PostAsync("schema", new StringContent(string.Empty, Encoding.UTF8, "application/json"));
    }
}

