@using egregore.Models
@inherits LayoutComponentBase
@inject HttpClient http

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <TopBar></TopBar>

    <div class="content px-4">
        @Body
    </div>

    <footer class="content px-4 border-top footer text-muted">
        <NavLink href="/privacy">Privacy</NavLink> | 
        <NavLink href="/meta">Meta</NavLink> | 
        <span>Server ID: @_whoIs?.ServerId</span> | 
        <span>@_whoIs?.TimeZone.TimeZone</span>
    </footer>
</div>

@code {

    private WhoIsModel _whoIs;

    
    protected override async Task OnInitializedAsync()
    {
        _whoIs = await http.GetFromJsonAsync<WhoIsModel>("whois");
    }
}
