name: Publish

on:
  pull_request:
    types: [closed]
    branches:
      - master
jobs:
  publish-nuget:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
    if: github.event.pull_request.merged
    steps:
      - name: checkout
        if: github.event.pull_request.merged
        uses: actions/checkout@v1
        with:
          ref: master    
          submodules: 'recursive'
      
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      # BEGIN (Source: https://gist.github.com/fredeil/26df20ef664b46f5ced338d5a8d8e8e9)
      - name: Install versioning tool 
        uses: aarnott/nbgv@master
        with:
          setAllVars: true
    
      - name: Chmod shell script
        run: chmod +x ./build/version.sh
        shell: bash
        continue-on-error: true
    
      - name: Tag git commit with new version
        run: ./build/version.sh
        env:
          VERSION_STAMP_TOKEN: ${{ secrets.VERSION_STAMP_TOKEN }}
        shell: bash
      # END
      
      - name: Pack NuGet
        run: dotnet pack ./src/egregore/egregore.csproj -p:FileVersion=${{env.NBGV_AssemblyFileVersion}} -p:InformationalVersion=${{env.NBGV_AssemblyInformationalVersion}} -p:AssemblyVersion=${{env.NBGV_AssemblyVersion}} -p:PackageVersion=${{env.NBGV_NuGetPackageVersion}} --configuration Release --include-source --include-symbols -o ./artifacts

      - name: Publish NuGet Packages
        run: dotnet nuget push ./artifacts/egregore.${{env.NBGV_NuGetPackageVersion}}.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
        
  deploy-win-x64:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
    needs: publish-nuget
    if: github.event.pull_request.merged
    steps:
      - name: checkout
        if: github.event.pull_request.merged
        uses: actions/checkout@v1
        with:
          ref: master    
          submodules: 'recursive'
      
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      
      - name: Publish win-x64
        run: dotnet publish ./src/egregore/egregore.csproj --configuration Release -r win-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true -o "dist/win-x64"

      - name: Upload win-x64
        uses: actions/upload-artifact@master
        with:
          name: win-x64
          path: dist/win-x64

  deploy-ubuntu-x64:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
    needs: deploy-win-x64
    if: github.event.pull_request.merged
    steps:
      - name: checkout
        if: github.event.pull_request.merged
        uses: actions/checkout@v1
        with:
          ref: master    
          submodules: 'recursive'
      
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
        
      - name: Publish linux-x64
        run: dotnet publish ./src/egregore/egregore.csproj --configuration Release -r linux-x64 /p:PublishSingleFile=true -o "dist/linux-x64"

      - name: Upload linux-x64
        uses: actions/upload-artifact@master
        with:
          name: linux-x64
          path: dist/linux-x64