name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - name: Install dependencies
      run: dotnet restore

    - name: Install tools
      run: dotnet tool install --global dotnet-reportgenerator-globaltool
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Test
      run: dotnet test --no-restore --verbosity normal --collect:"XPlat Code Coverage"     

    - name: Coverage Report
      run: ~/.dotnet/tools/reportgenerator "-reports:**/coverage.cobertura.xml" "-targetdir:coverage-reports"
        
    - name: Upload Coverage
      uses: actions/upload-artifact@master
      with:
        name: Coverage
        path: coverage-reports
        
    - name: Publish win-x64
      run: dotnet publish -c Release -o "dist/win-x64"
    
    - name: Upload win-x64
      uses: actions/upload-artifact@master
      with:
        name: win-x64
        path: dist/win-x64
    
